.board {
    width: 450px;
    margin: 0 auto;

}

.messages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 100px;
}

.checkWarn {
    width: 100px;
    padding: 20px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    border-radius: 5px;
}